{% extends 'evento_site/pages/base.html' %}
{% load static %}
{% block content %}
    <div class="container" style="padding: 100px 0">
        <div class="row ">
            <div class="col s6 offset-s3">
                <div class="card center">
                    <div class="card-content">

                        <form method="post">{% csrf_token %}
                            {{ login }}
                            <button class="btn light-blue" type="submit">Entrar</button>
                        </form>

                            <p class="{{ msg.class }}"> {{ msg.text }}</p>
                    </div>

                    <div class="card-action">
                        <a class="light-blue-text" href="#">Recuperar senha</a>
                        <a class="light-blue-text" href="#">Criar Conta</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}