{% extends 'evento_site/pages/base.html' %}
{% load static %}
{% block content %}

    <div class="container fullscreen">
        <div class="card">
            <div class="card-title">
                <h3 class="light-blue-text">Cadastro</h3>
            </div>
            <div class="card-content">
                <form method="POST">{% csrf_token %}
                    {{ user_forms }}
                    <h5 class="light-blue-text">Endereço:</h5>
                    {{ endereco_forms }}
                <button class="btn right light-blue" type="submit">Criar Conta</button>
                    <br>
                </form>
            </div>
        </div>
    </div>
    <div class="container">
    </div>

{% endblock %}